* {
	font-family: arial, verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body {
	width: 960px;
	margin: 0 auto;
}
nav {
	background-color: #CBC3E3;
	padding: 10px;
	margin: 10px;
}
li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #CBC3E3;
	padding: 10px;
	margin: 10px;
}

article {
	background-color: #CBC3E3;
	padding: 10px;
	margin: 10px;

}